<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
        <title>My App</title>
        ${styles}
    </head>
    <body>
        <div id="app">${html}</div>
        <script>
            window.__PRELOADED_STATE__ = ${preloadedState}
        </script>
        <script src="/static/js/main.js"></script>
        ${scripts}
        <script>window.main();</script>
    </body>
</html>